.navContainer {
    display: flex;
    flex-direction: row;
    background-color: grey;
}



.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    height: 300px;
  }

  .box div {
    width: 100px;
    height: 100px;
    background-color: blue;
  }

  .push {
      margin-left: auto;
  }

