body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;

}

/*  #############  NAVBAR  ###########  */
nav {
    display: flex;
    flex-direction: row;
    background-color: gray;
    color: white;
    position: fixed;
    z-index: 3;
    width: 100%
}

a {
    color: white;
    text-decoration: none;
}

#floatRight {
    float: right;
}

.navContainer {
    list-style-type: none;
    margin: 0;
    padding: 12px;
}

.userContainer {
    list-style-type: none;
    margin: 0;
    padding: 12px;
    float: right;
}

.navContainer > li {  
    padding: 7.5px 7.5px;
    margin: 0 5px 0 0;
    display: inline;
}

.userContainer > li {
    padding: 7.5px 7.5px;
    margin: 0 5px 0 0;
    display: inline;
}

.navContainer :hover {
    background-color: blue;
}

.userContainer :hover {
    background-color: blue;

}

.navRight {
    margin-left: auto;
}

.userContainer img {
    border-radius: 150%;
}

/* ###############  GRID FOR MAIN PAGE ######################## */

.storefrontGridWrapper {
    position: relative;
    top: 50px;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 15px;
    grid-auto-rows: minmax(100px, auto);
    margin-left: 20px;
}
.logoBlock {
    position: relative;
    /* border: black 1px solid; */
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    /* opacity: .5; */
}
#logoImg {
    width: 870px;
    /* opacity: 90%; */
}

#logoText {
    position: absolute;
    top: 30px;
    left: 26px;
    font-family: Comic Sans MS, Textile, Cursive;
    font-size: xxx-large;
    font-weight: bold;
}
#tagline {
    position: absolute;
    top: 90px;
    left: 26px;
    font-family: Comic Sans MS, Textile, Cursive;
    font-size: x-large;
    font-weight: bold;
}
.essentialsBlock {
    /* border: black 1px solid; */
    grid-column: 3;
    grid-row: 3 / 5;
    /* background-color: red; */
}

#essentialsImg {
    width: 350px;
    margin-left: 40px;
    margin-bottom: 30px;
}

#faceMaskImg {
    width: 350px;
    /* height: 180px; */
    margin: 0 0 30px 40px;
}

.flexListHeader {
    font-size: 16px;
    font-weight: bold;
    margin-left: 40px;
}

.travel { 
    /* border: black 1px solid; */
    grid-column: 1 / 3;
    grid-row: 4 / 6;
}

.faceMasks {
    /* border: black 1px solid; */
    grid-column: 3;
    grid-row: 5 / 7;
}

.introBlock {
    /* border: black 1px solid; */
    grid-column: 3;
    grid-row: 1 / 3;
    /* opacity: .5; */
  }

#introBlockText {
    width: 350px;
    font-size: 16px;
    margin-top: 10px;
    padding: 20px;
  }

.travelGridWrapper {
    position: relative;
    top: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);

}

#travelTextBox {
    width: 300px;
    padding: 12px;
}

#travelTextBox span {
    font-size: 12px;
}

.travelOne {
    grid-column: 1 / 2;
    grid-row: 1;
}

.travelTwo {
    grid-column: 2 / 3;
    grid-row: 1;
}


.flexInFlex {
    display: flex;
    flex-direction: row;
    padding: 0;

}

/* ################# HORIZONTAL LIST OF IMAGES ################ */
.myList {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      justify-content: flex-start;
      align-items: center;
  }

.myListItem {    
    align-items: center;
    flex: 0 1 auto; 
    padding: 8px;
    margin: 0px;
    background-color: white;
    border: 1px solid blue;
    text-align: center;
    height: 75px;
}

/* ################# HORIZONTAL LIST OF IMAGES SCROLLABLE ################ */
.card {
    position: relative;
    top: 50px;
    display: flex;
    overflow-x: auto;
    background-color: #fff;
    max-width: 300px;
    min-height: 200px;
    max-height: 250px;
    align-self: flex-start;
    margin: 15px;
  }

  .card--content {
    background-color: white;
    max-width: 100%;
    margin: 5px;
  }

/* ################# HORIZONTAL LIST OF IMAGES SCROLLABLE ################ */
#travelSection {
    margin: 0 50px;
}
.travelCard {
    position: relative;
    display: flex;
    overflow-x: auto;
    background-color: #fff;
    max-width: 300px;
    min-height: 200px;
    max-height: 250px;
    align-self: flex-start;
    margin: 15px;
  }

  .travelCard--content {
    background-color: white;
    max-width: 100%;
    margin: 5px;
  }

/* ################# HORIZONTAL LIST OF IMAGES (TALL) SCROLLABLE ################ */
.wardrobeCard {
    position: relative;
    display: flex;
    overflow-x: auto;
    background-color: #fff;
    max-width: 250px;
    min-height: 480px;
    align-items: center;
    margin: 10px;
    margin-top: 0;
  }

  .wardrobeCard--content {
    background-color: white;
    max-width: 100%;
    margin: 5px;
  }


#wardrobeLabel {
    font-size: 12px;
    margin-top: 65px;
    width: 250px;
    padding: 10px;
    padding-bottom: 0;
}

#wardrobeSection {
    margin-left: 50px;
}

  /* ################# HORIZONTAL LIST OF IMAGES (SMALLER) SCROLLABLE ################ */
.cardSmall {
    position: relative;
    /* top: 50px; */
    display: flex;
    overflow-x: auto;
    background-color: #fff;
    min-width: 100%;
    min-height: 75px;
    z-index: 3;
  }

  .card--contentSmall {
    background-color: white;
    /* max-width: 75px; */
    max-height: 90px;
    margin-right: 28px;
  }

.bottomGap {
    grid-column: 1 / 4;
    grid-row: 7;
}

/* Footer */
footer {
	width: 100%;
	height: 100px;
	background-color: #333333;
	position: relative;
	margin: 0;
}

.copyRight {
	color: white;
	float: left;
	font-size: 10px;
	padding: 0px 50px 0px 50px;
	position: relative;
	top: 20%;
}

.copyRight a {
	text-decoration: none;
	color: #ffc600;
}

.copyRight a:hover {
	color: white;
}
